.class {
  &-agent {
    display: flex;
    justify-content: center;
  }

  &-border {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    position: absolute;
    // z-index: 3;
    top: 4%;
    left: 10px;

    // width: 20%;
    opacity: 0.6;
  }

  &-icon {
    align-self: flex-start;
    width: 50%;
  }

  &-agent-body {
    width: 300px;

    position: absolute;
    z-index: 3;

    top: 0px;
    left: 20%;
    width: 58%;
  }
}